@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';



body {
	@apply text-base bg-bg-color text-black overflow-x-hidden overscroll-x-auto;
}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}

.open-menu {
	opacity: 1;
	transform: scale(1) translateX(0);
}

.close-menu {
	opacity: 0;
	transform: scale(0.8) translateX(40px);
	
}

