.wrapper {
	display: flex;
	flex-direction: column;
	gap:10px;


	.item {
		border-radius: 0.5rem;
		background-color: rgb(255 255 255);
		padding: 1.5rem;
		display: grid;
		grid-template-columns: 1fr 3fr;
		
		
		> div {
			font-weight: 700;
			font-size: large;
			transform: translateX(-100%);
			opacity: 0;
			animation: slideInLeft 1s forwards;
			
			&:first-child {
				margin-right: 8px;

				&:after {
					content: "♨️";
				}
			}

			@for $i from 1 through 10 {
				&:nth-child(#{$i}) {
					animation-delay: 0.3s * $i;
				}
			}

			&:last-child {
			}
		}
	}
}

@keyframes slideInLeft {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
